<h1>My Parties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Party Type</th>
    <th>RSVPs</th>
    <th>Location</th>
    <th>Party Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Rsvp Date</th>
  </tr>
  <% for party in @parties %>
    <tr>
      <td><%= link_to party.name, party %></td>
      <td><%= party.party_type.name %></td>
      <td><%= party.attending %></td>
      <td><%= link_to party.location.name, location_path(party.location) %></td>
      <td><%= party.party_date %></td>
      <td><%= party.start_time %></td>
      <td><%= party.end_time %></td>
      <td><%= party.rsvp_date %></td>
      <td><%= link_to "Edit", edit_party_path(party) %></td>
      <td><%= link_to "Destroy", party, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add A New Party", new_party_path %></p>
