<% title "Party" %>
<p>
  <b>RSVP date:</b>
  <% if @party.rsvp_date.nil? %>
    <b>No RSVP required</b>
  <% else %>
    <b>RSVP date:</b>
    <%= @party.rsvp_date.strftime("%B %e, %Y") %> 
  <% end %>  
</p>
<p>
  <strong>Party Type:</strong>
  <%= @party.party_type.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @party.location.name %>
</p>
<p>
  <strong>Party Date:</strong>
  <%= @party.party_date.strftime("%B %d, %Y") %>
</p>
<p>
  <b>Time:</b>
  <%= @party.start_time.strftime("%I:%M %p") %> - <%= @party.end_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>
<p>
  <% if @party.rsvp_date.nil? %>
  <% else %>
    <b>Confirmed Attendance:</b>
    <%= @party.attending %> 
  <% end %>  
</p>

<p>
  <% if @party.rsvp_date.nil? %>
  <% else %>
    <b>Expected Attendance:</b>
    <%= @party.expected %> 
  <% end %>
</p>

<p>
    <b>Invited Guests</b>
    <br/>
    <% for guest in @party.guests %>
      <ul>
        <li><%= link_to guest.name, guest_path(guest) %></li>
      </ul>
    <% end %> 
</p>



</br>
<%= image_tag @party.location.create_map_link %>

<p>
  <%= link_to "Edit", edit_party_path(@party) %> |
  <%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parties_path %>
</p>
