<% title "Party" %>

<p>
  <strong>Party Type:</strong>
  <%= @party.party_type.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @party.location.name %>
</p>
<p>
  <strong>Party Date:</strong>
  <%= @party.party_date.strftime("%B %e, %Y") %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @party.start_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @party.end_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>
<p>
  <% if @party.rsvp_date == nil %>
  <% else %>
    <b>Confirmed Attendance:</b>
    <%= @party.attending %> 
  <% end %>  
</p>

<p>
  <% if @party.rsvp_date == nil %>
  <% else %>
    <b>Expected Attendance:</b>
    <%= @party.expected %> 
  <% end %>
</p>

<p>
  <% if @party.rsvp_date == nil %>
  <% else %>
    <b>Invited Guests</b>
    <br />
    <% for guest in @party.guests %>
      <tr>
        <td><%= guest.name %></td><br />
      </tr>
    <% end %> 
  <% end %>
</p>
<%= image_tag @party.location.create_map_link %>

<p>
  <%= link_to "Edit", edit_party_path(@party) %> |
  <%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parties_path %>
</p>
