<% title "Gift" %>

<p>
  <strong>Guest:</strong>
  <%= link_to link_to @gift.invitation.guest.name, guest_path(guest) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>
<p>
  <strong>Note Sent On:</strong>
  <%= @gift.note_sent_on %>
</p>

<p>
  <%= link_to "Edit", edit_gift_path(@gift) %> |
  <%= link_to "Destroy", @gift, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gifts_path %>
</p>
